## Khai báo thư viện

In [1]:
import pandas as pd
import numpy as np
print('Khai bao thanh cong')

Khai bao thanh cong

## Nhập dữ liệu

In [2]:
data = pd.read_csv('FoodPrice_in_Turkey.csv', header=0, encoding = "ISO-8859-1")
print('*'*20, "Nhập dữ liệu thành công", '*'*20)
display(data)

******************** Nhập dữ liệu thành công ********************

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

## 1. Thao tác với cột

## 2. Thao tác với dòng

## 3. Thao tác với 1 ô (cell)

- **Không thể xóa được**
- **Vừa có thể truy vấn (get), vừa có thể thiết lập (set)**

### 3.1. Sử dụng chained indexing (chỉ nên dùng để truy vấn)

##### Truy xuất giá trị: ***df['tên cột'][index]***   với index là chỉ số index của dòng

In [47]:
data['Place'][-1]

'ThanhHoa'

##### Thiết lập giá trị: ***df['tên cột'][index] = giá-trị***   với index là chỉ số index của dòng, giá trị là giá trị mong muốn. Khuyến cáo không nên dùng

In [48]:
data['Place'][0] = 'Hanoi'
display(data)

C:\Users\Hamilton\AppData\Local\Temp\ipykernel_12708\3377952362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Place'][0] = 'Hanoi'

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,Hanoi,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234
...,...,...,...,...,...,...,...,...
7376.0,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377.0,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378.0,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379.0,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380.0,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

## 3.2. Sử dụng .at[...]

##### Truy xuất: ***df.at[index, 'tên cột']***

In [49]:
data.at[0, 'Place']

'Hanoi'

In [50]:
data.loc[0, 'Place']

'Hanoi'

##### Thiết lập: ***df.at[index, 'tên cột'] = giá-trị***

In [51]:
data.at[0, 'Place'] = 'SaiGon'
display(data)
# data.info()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,SaiGon,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234
...,...,...,...,...,...,...,...,...
7376.0,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377.0,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378.0,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379.0,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380.0,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

## 3.3. Sử dụng .loc[...] và .iloc[...]

##### Truy xuất: ***df.loc[index, 'tên cột']***

In [18]:
data.loc[0,'Place']

'SaiGon'

##### Thiết lập: ***df.loc[index, 'tên cột'] = giá-trị***

In [19]:
data.loc[0,'Place'] = 'Hue'
display(data)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,Hue,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

##### Truy vấn df.iloc[vị-trí-của-dòng, vị-trí-của-cột]

In [20]:
data.iloc[0,0]

'Hue'

##### Thiết lập giá mới df.iloc[vị-trí-của-dòng, vị-trí-của-cột] = giá-trị

In [22]:
data.iloc[0,0]='Hue'
display(data)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,Hue,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

## 4. Sử dụng .loc[...] và .iloc[...]

##### Giới thiệu

Hai hàm này dùng để truy xuất, thiết lập giá trị tới 1 hoặc nhiều hàng, cột, ô.  
Cú pháp chung **df.loc[các-dòng, các-cột]** và **df.iloc[các-dòng, các-cột]**  
Điểm khác nhau là:  i = integer  
.loc truy xuất theo giá trị của index của dòng và tên của cột  
.iloc truy xuất theo thứ tự (luôn là số nguyên) của dòng và cột

In [35]:
# Thêm 2 dòng có index -1, 2.5 vào bảng
data.loc[-1] = ['ThanhHoa', 66, 'Nem chua', 5, 'KG', 6, 2022, 66.1234]
data.loc[2.5] = ['DaNang', 77, 'BTCTH', 5, 'KG', 6, 2022, 77.1234]
data = data.sort_index()
display(data.head(10))

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234
3.0,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4.0,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
5.0,National Average,52,Rice - Retail,5,KG,2,2014,5.8146
6.0,National Average,52,Rice - Retail,5,KG,3,2014,6.0014
7.0,National Average,52,Rice - Retail,5,KG,5,2014,6.3202

### 4.1. Truy xuất 1 dòng

***Ví dụ: Lấy dòng có chứa DaNang***

##### Dùng **df.loc[index]**

In [6]:
data.loc[2.5]

Place           DaNang
ProductId           77
ProductName      BTCTH
UmId                 5
UmName              KG
Month                6
Year              2022
Price          77.1234
Name: 2.5, dtype: object

##### Dùng **df.iloc[vị trí dòng]**

In [9]:
# data.iloc[2.5] #Sai
data.iloc[4] # Chú ý, hàng đầu tiên đếm từ 0

Place           DaNang
ProductId           77
ProductName      BTCTH
UmId                 5
UmName              KG
Month                6
Year              2022
Price          77.1234
Name: 2.5, dtype: object

### 4.2. Truy xuất nhiều dòng rời rạc

***Ví dụ: Lấy các dòng có chứa DaNang,ThanhHoa theo thứ tự đó***

In [10]:
display(data.head(10)) #Hiển thị 10 dòng đầu tiên

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234
3.0,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4.0,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
5.0,National Average,52,Rice - Retail,5,KG,2,2014,5.8146
6.0,National Average,52,Rice - Retail,5,KG,3,2014,6.0014
7.0,National Average,52,Rice - Retail,5,KG,5,2014,6.3202

##### Dùng **df.loc[[index1, index2, ...]]**

In [11]:
data.loc[[2.5, -1]]

         Place  ProductId ProductName  UmId UmName  Month  Year    Price
 2.5    DaNang         77       BTCTH     5     KG      6  2022  77.1234
-1.0  ThanhHoa         66    Nem chua     5     KG      6  2022  66.1234

##### Dùng **df.iloc[[vitri1, vitri2, ...]]**

In [12]:
data.iloc[[4, 0]]

         Place  ProductId ProductName  UmId UmName  Month  Year    Price
 2.5    DaNang         77       BTCTH     5     KG      6  2022  77.1234
-1.0  ThanhHoa         66    Nem chua     5     KG      6  2022  66.1234

### 4.3. Truy xuất nhiều dòng liền nhau

***Ví dụ: Lấy các dòng từ ThanhHoa tới DaNang***

In [13]:
display(data.head(10))

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234
3.0,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4.0,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
5.0,National Average,52,Rice - Retail,5,KG,2,2014,5.8146
6.0,National Average,52,Rice - Retail,5,KG,3,2014,6.0014
7.0,National Average,52,Rice - Retail,5,KG,5,2014,6.3202

##### Dùng df.loc[index-bắt-đầu : index-kết-thúc]

In [ ]:
data.loc[-1:2.5]

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234

In [ ]:
#Nếu thiếu index-bắt-đầu thì mặc định là bắt đầu từ đầu bảng
#Nếu thiếu index-kết-thúc thì mặc định là kết thúc ở cuối bảng
data.loc[:2.5]

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234
...,...,...,...,...,...,...,...,...
7376.0,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377.0,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378.0,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379.0,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380.0,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

##### Dùng df.iloc[vị-trí-bắt-đầu : vị-trí-cần-lấy + 1]  
##### Công thức khác df.iloc[vị-trí-bắt-đầu : vị-trí-bắt-đầu + length]

In [15]:
data.iloc[0:5] # 5 = 4 + 1

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234

In [16]:
#Nếu thiếu vị-trí-bắt-đầu thì mặc định là bắt đầu từ đầu bảng (0)
#Nếu thiếu vị-trí-kết-thúc thì mặc định là kết thúc ở cuối bảng
data.iloc[:5]

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234

### 4.4. Truy xuất tới 1 cột

***Ví dụ: Lấy cột có tên ProductName***

##### Dùng df.loc[:, 'tên cột']

In [23]:
data.loc[:,'ProductName']

-1.0                      Nem chua
 0.0                 Rice - Retail
 1.0                 Rice - Retail
 2.0                 Rice - Retail
 2.5                         BTCTH
                    ...
 7376.0    Cocoa (powder) - Retail
 7377.0    Cocoa (powder) - Retail
 7378.0    Cocoa (powder) - Retail
 7379.0    Cocoa (powder) - Retail
 7380.0    Cocoa (powder) - Retail
Name: ProductName, Length: 7383, dtype: object

##### Dùng df.iloc[:, 'vị-trí-cột']  đếm từ 0

In [26]:
data.iloc[:, 2]

-1.0                      Nem chua
 0.0                 Rice - Retail
 1.0                 Rice - Retail
 2.0                 Rice - Retail
 2.5                         BTCTH
                    ...
 7376.0    Cocoa (powder) - Retail
 7377.0    Cocoa (powder) - Retail
 7378.0    Cocoa (powder) - Retail
 7379.0    Cocoa (powder) - Retail
 7380.0    Cocoa (powder) - Retail
Name: ProductName, Length: 7383, dtype: object

### 4.5. Truy xuất tới nhiều cột rời rạc

***Ví dụ: Lấy cột có tên là ProductName và Place, theo đúng thứ tự đó***

##### Dùng df.loc[:, ['tên cột 1', 'tên cột 2', ...]  ]

In [27]:
data.loc[:,['ProductName','Place']]

                     ProductName             Place
-1.0                    Nem chua          ThanhHoa
 0.0               Rice - Retail  National Average
 1.0               Rice - Retail  National Average
 2.0               Rice - Retail  National Average
 2.5                       BTCTH            DaNang
...                          ...               ...
 7376.0  Cocoa (powder) - Retail             Izmir
 7377.0  Cocoa (powder) - Retail             Izmir
 7378.0  Cocoa (powder) - Retail             Izmir
 7379.0  Cocoa (powder) - Retail             Izmir
 7380.0  Cocoa (powder) - Retail             Izmir

[7383 rows x 2 columns]

##### Dùng df.iloc[:, [vị-trí-cột-1, vị-trí-cột-2, ...]  ]

In [28]:
data.iloc[:, [2,0]]

                     ProductName             Place
-1.0                    Nem chua          ThanhHoa
 0.0               Rice - Retail  National Average
 1.0               Rice - Retail  National Average
 2.0               Rice - Retail  National Average
 2.5                       BTCTH            DaNang
...                          ...               ...
 7376.0  Cocoa (powder) - Retail             Izmir
 7377.0  Cocoa (powder) - Retail             Izmir
 7378.0  Cocoa (powder) - Retail             Izmir
 7379.0  Cocoa (powder) - Retail             Izmir
 7380.0  Cocoa (powder) - Retail             Izmir

[7383 rows x 2 columns]

### 4.6. Truy xuất tới nhiều cột liên tiếp

***Ví dụ: Lấy cột có tên từ ProductId tới UmName***

In [29]:
display(data.head(10))

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234
3.0,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4.0,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
5.0,National Average,52,Rice - Retail,5,KG,2,2014,5.8146
6.0,National Average,52,Rice - Retail,5,KG,3,2014,6.0014
7.0,National Average,52,Rice - Retail,5,KG,5,2014,6.3202

##### Dùng df.loc[:, 'tên cột bắt đầu' : 'tên cột kết thúc']

In [30]:
data.loc[:,'ProductId':'UmName']

         ProductId              ProductName  UmId UmName
-1.0            66                 Nem chua     5     KG
 0.0            52            Rice - Retail     5     KG
 1.0            52            Rice - Retail     5     KG
 2.0            52            Rice - Retail     5     KG
 2.5            77                    BTCTH     5     KG
...            ...                      ...   ...    ...
 7376.0        502  Cocoa (powder) - Retail     5     KG
 7377.0        502  Cocoa (powder) - Retail     5     KG
 7378.0        502  Cocoa (powder) - Retail     5     KG
 7379.0        502  Cocoa (powder) - Retail     5     KG
 7380.0        502  Cocoa (powder) - Retail     5     KG

[7383 rows x 4 columns]

##### Dùng df.iloc[:, vị-trí-cột-bắt-đầu : vị-trí-cột-cuối + 1]
##### df.iloc[:, vị-trí-cột-bắt-đầu : vị-trí-cột-bắt-đầu + số-lượng-cột]

In [31]:
data.iloc[:, 1:5]

         ProductId              ProductName  UmId UmName
-1.0            66                 Nem chua     5     KG
 0.0            52            Rice - Retail     5     KG
 1.0            52            Rice - Retail     5     KG
 2.0            52            Rice - Retail     5     KG
 2.5            77                    BTCTH     5     KG
...            ...                      ...   ...    ...
 7376.0        502  Cocoa (powder) - Retail     5     KG
 7377.0        502  Cocoa (powder) - Retail     5     KG
 7378.0        502  Cocoa (powder) - Retail     5     KG
 7379.0        502  Cocoa (powder) - Retail     5     KG
 7380.0        502  Cocoa (powder) - Retail     5     KG

[7383 rows x 4 columns]

### 4.7. Truy xuất tới một số cột và hàng liên tiếp

In [38]:
# data.loc[9] = ['NhaTrang', 88, 'Cá ngựa khô', 5, 'KG', 10, 2022, 77.1234] 
display(data.head(15))

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234
3.0,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4.0,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
5.0,National Average,52,Rice - Retail,5,KG,2,2014,5.8146
6.0,National Average,52,Rice - Retail,5,KG,3,2014,6.0014
7.0,National Average,52,Rice - Retail,5,KG,5,2014,6.3202
8.0,National Average,52,Rice - Retail,5,KG,6,2014,6.6019
9.0,NhaTrang,88,Cá ngựa khô,5,KG,10,2022,77.1234
10.0,National Average,52,Rice - Retail,5,KG,8,2014,6.6806
11.0,National Average,52,Rice - Retail,5,KG,9,2014,6.6035
12.0,National Average,52,Rice - Retail,5,KG,10,2014,6.4960

***Ví dụ: Lấy cột có chứa từ Place tới ProductName, 10 hàng bắt đầu từ DaNang***

##### Dùng df.loc[index_dòng_đầu : index_dòng_cuối , tên_cột_đầu : tên_cột_cuối]

In [39]:
data.loc[2.5:11,'Place':'ProductName']

                 Place  ProductId    ProductName
2.5             DaNang         77          BTCTH
3.0   National Average         52  Rice - Retail
4.0   National Average         52  Rice - Retail
5.0   National Average         52  Rice - Retail
6.0   National Average         52  Rice - Retail
7.0   National Average         52  Rice - Retail
8.0   National Average         52  Rice - Retail
9.0           NhaTrang         88    Cá ngựa khô
10.0  National Average         52  Rice - Retail
11.0  National Average         52  Rice - Retail

##### Dùng df.iloc[vitri_dòng_đầu : soluong_dong + vitri_dòng_đầu , vitri_cột_đầu : soluong_cot + vitri_cot_dau]

In [40]:
data.iloc[4:14, 0:3]

                 Place  ProductId    ProductName
2.5             DaNang         77          BTCTH
3.0   National Average         52  Rice - Retail
4.0   National Average         52  Rice - Retail
5.0   National Average         52  Rice - Retail
6.0   National Average         52  Rice - Retail
7.0   National Average         52  Rice - Retail
8.0   National Average         52  Rice - Retail
9.0           NhaTrang         88    Cá ngựa khô
10.0  National Average         52  Rice - Retail
11.0  National Average         52  Rice - Retail

***Ví dụ: Lấy cell "cá ngựa khô"***

In [41]:
data.loc[9,'ProductName']

'Cá ngựa khô'

In [43]:
data.iloc[11,2]

'Cá ngựa khô'

***Bonus: Slicer***

In [44]:
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
-1.0,ThanhHoa,66,Nem chua,5,KG,6,2022,66.1234
0.0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1.0,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2.0,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
2.5,DaNang,77,BTCTH,5,KG,6,2022,77.1234
...,...,...,...,...,...,...,...,...
7376.0,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377.0,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378.0,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379.0,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380.0,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [46]:
data.iloc[0:100:2,0:7:2] 
# Cấu trúc selector a:b:c -> a: bắt đầu, 
# b: kết thúc+1 (hoặc bắt đầu + số lượng), c: khoảng cách

                  Place           ProductName UmName  Year
-1.0           ThanhHoa              Nem chua     KG  2022
 1.0   National Average         Rice - Retail     KG  2013
 2.5             DaNang                 BTCTH     KG  2022
 4.0   National Average         Rice - Retail     KG  2014
 6.0   National Average         Rice - Retail     KG  2014
 8.0   National Average         Rice - Retail     KG  2014
 10.0  National Average         Rice - Retail     KG  2014
 12.0  National Average         Rice - Retail     KG  2014
 14.0  National Average         Rice - Retail     KG  2014
 16.0  National Average         Rice - Retail     KG  2015
 18.0  National Average         Rice - Retail     KG  2015
 20.0  National Average         Rice - Retail     KG  2015
 22.0  National Average         Rice - Retail     KG  2015
 24.0  National Average         Rice - Retail     KG  2015
 26.0  National Average         Rice - Retail     KG  2015
 28.0  National Average         Rice - Retail     KG  2016
 30.0  National Average         Rice - Retail     KG  2016
 32.0  National Average         Rice - Retail     KG  2016
 34.0  National Average         Rice - Retail     KG  2016
 36.0  National Average         Rice - Retail     KG  2016
 38.0  National Average         Rice - Retail     KG  2016
 40.0  National Average         Rice - Retail     KG  2017
 42.0  National Average         Rice - Retail     KG  2018
 44.0  National Average         Rice - Retail     KG  2018
 46.0  National Average         Rice - Retail     KG  2018
 48.0  National Average         Rice - Retail     KG  2018
 50.0  National Average         Rice - Retail     KG  2018
 52.0  National Average         Rice - Retail     KG  2018
 54.0  National Average         Rice - Retail     KG  2019
 56.0  National Average         Rice - Retail     KG  2019
 58.0  National Average         Rice - Retail     KG  2019
 60.0  National Average         Rice - Retail     KG  2019
 62.0  National Average         Rice - Retail     KG  2019
 64.0  National Average         Rice - Retail     KG  2019
 66.0  National Average  Wheat flour - Retail     KG  2013
 68.0  National Average  Wheat flour - Retail     KG  2013
 70.0  National Average  Wheat flour - Retail     KG  2014
 72.0  National Average  Wheat flour - Retail     KG  2014
 74.0  National Average  Wheat flour - Retail     KG  2014
 76.0  National Average  Wheat flour - Retail     KG  2014
 78.0  National Average  Wheat flour - Retail     KG  2014
 80.0  National Average  Wheat flour - Retail     KG  2014
 82.0  National Average  Wheat flour - Retail     KG  2015
 84.0  National Average  Wheat flour - Retail     KG  2015
 86.0  National Average  Wheat flour - Retail     KG  2015
 88.0  National Average  Wheat flour - Retail     KG  2015
 90.0  National Average  Wheat flour - Retail     KG  2015
 92.0  National Average  Wheat flour - Retail     KG  2015
 94.0  National Average  Wheat flour - Retail     KG  2016
 96.0  National Average  Wheat flour - Retail     KG  2016