## Khai báo thư viện

In [1]:
import pandas as pd
import numpy as np
print('Khai bao thanh cong')

Khai bao thanh cong

## Nhập dữ liệu

In [2]:
data = pd.read_csv('FoodPrice_in_Turkey.csv', header=0, encoding = "ISO-8859-1")
print('*'*20, "Nhập dữ liệu thành công", '*'*20)
display(data)
data.info()

******************** Nhập dữ liệu thành công ********************

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

## 1. Thao tác với cột

## 2. Thao tác với dòng

## 3. Thao tác với 1 ô (cell)

## 4. Sử dụng .loc[...] và .iloc[...]

## 5. Một số giá trị thống kê của dữ liệu

### 5.1 Thống kê cơ bản

<font color='red' size="5" >**df.describes(include='all')**</font>  

**Cho biết các thống kê cơ bản như:**
- **count (số lượng)**  
- **unique (số lượng ko tính trùng lặp)**  
- **top (phổ biến nhất)**  
- **freq (số lượng của top)**    
- **mean (trung bình)**  
- **std (độ lệch chuẩn)**  
- **min (cực tiểu)**  
- **max (cực đại)**  
- **25%, 50%, 75% (Quartile - tứ phân vị - Q1, Q2, Q3)**

In [3]:
data.describe(include='all')

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
count,7381,7381.000000,7381,7381.000000,7381,7381.000000,7381.000000,7381.000000
unique,4,NaN,52,NaN,9,NaN,NaN,NaN
top,National Average,NaN,Rice - Retail,NaN,KG,NaN,NaN,NaN
freq,2633,NaN,174,NaN,5636,NaN,NaN,NaN
mean,NaN,254.509687,NaN,15.252811,NaN,6.479881,2017.458474,15.738709
std,NaN,141.008599,NaN,25.276665,NaN,3.530361,1.499256,22.418284
min,NaN,52.000000,NaN,5.000000,NaN,1.000000,2013.000000,0.253900
25%,NaN,114.000000,NaN,5.000000,NaN,3.000000,2017.000000,3.223600
50%,NaN,239.000000,NaN,5.000000,NaN,6.000000,2018.000000,5.909600
75%,NaN,388.000000,NaN,5.000000,NaN,10.000000,2019.000000,20.441900
max,NaN,502.000000,NaN,102.000000,NaN,12.000000,2019.000000,159.445800

- **count: biến định lượng và định tính**  
- **unique, top, freq:  biến định tính**  
- **mean, std, min, max, xx%:  biến định lượng***

### 5.2 Hàm count()

<font color='red' size="5" >**df.count(axis=0/1)**</font>  
**Cho biết số lượng của dữ liệu**  
**Nếu là DataFrame: axis = 0 -> đếm theo số hàng, axis = 1 -> đếm số cột**  
**Nếu là Series thì ko cần axis**  
**Ví dụ 1: số lượng dữ liệu trong cột 'Place'**  
**Ví dụ 2: số lượng dữ liệu trong cột từ 'Place' tới 'ProductName'**

In [4]:
data.loc[:,'Place'].count()

7381

In [5]:
data.loc[:,'Place':'ProductName'].count(axis=0)

Place          7381
ProductId      7381
ProductName    7381
dtype: int64

### 5.3 Hàm unique()

**Dùng cho mọi loại biến**  
<font color='red' size="5" >**df.unique()**</font>  
**Cho biết các dữ liệu không tính trùng lặp**  
**Chỉ áp dụng cho Series**  
**Ví dụ 1: các dữ liệu không tính trùng lặp trong cột 'Place'**  
**Ví dụ 2: Có bao nhiêu dữ liệu như vậy**

In [7]:
data.loc[:,'ProductName'].unique()

array(['Rice - Retail', 'Wheat flour - Retail', 'Beans (white) - Retail',
       'Potatoes - Retail', 'Eggs - Retail', 'Meat (chicken) - Retail',
       'Sugar - Retail', 'Garlic - Retail', 'Lentils - Retail',
       'Pasta - Retail', 'Tomatoes - Retail',
       'Groundnuts (shelled) - Retail', 'Bread (common) - Retail',
       'Coffee - Retail', 'Onions - Retail', 'Tea (green) - Retail',
       'Cabbage - Retail', 'Meat (mutton) - Retail',
       'Oil (sunflower) - Retail', 'Salt - Retail',
       'Coffee (instant) - Retail', 'Peas (green, dry) - Retail',
       'Apples (red) - Retail', 'Cauliflower - Retail',
       'Cucumbers (greenhouse) - Retail', 'Oil (olive) - Retail',
       'Chickpeas - Retail', 'Bananas - Retail', 'Bulgur - Retail',
       'Tea - Retail', 'Fuel (petrol-gasoline) - Retail',
       'Transport (public) - Retail', 'Tomatoes (paste) - Retail',
       'Fuel (gas) - Retail', 'Apples - Retail', 'Oranges - Retail',
       'Yogurt - Retail', 'Bread (pita) - Retail', 'Cucumbers - Retail',
       'Fish (fresh) - Retail', 'Spinach - Retail', 'Cheese - Retail',
       'Meat (veal) - Retail', 'Eggplants - Retail',
       'Milk (powder, infant formula) - Retail', 'Zucchini - Retail',
       'Milk (pasteurized) - Retail',
       'Wage (non-qualified labour, non-agricultural) - Retail',
       'Electricity - Retail', 'Tea (herbal) - Retail', 'Water - Retail',
       'Cocoa (powder) - Retail'], dtype=object)

In [8]:
data.loc[:,'ProductName'].unique().size

52

### 5.4 Hàm mode() và hàm value_counts()

**Dùng cho mọi loại biến**  
<font color='red' size="5" >**df.mode(axis=0/1)**</font>  
**Cho biết giá trị nào xuất hiện nhiều nhất**  
**Không có hàm top()**  
**Ví dụ 1: Giá trị nào xuất hiện nhiều nhất trong cột 'Place'**  

<font color='red' size="5" >**df.value_counts()**</font> 
**Cho biết tấn xuất (số lần) các giá trị unique xuất hiện**  
**Không có hàm freq()**  
**Ví dụ 2: Nó xuất hiện bao nhiêu lần**   
**Ví dụ 3: Giá trị cao nhất xuất hiện bao nhiêu lần**

In [12]:
data.loc[:,'Place'].mode()

0    National Average
Name: Place, dtype: object

In [13]:
data.loc[:,'Place'].value_counts()

National Average    2633
Istanbul            1583
Izmir               1583
Ankara              1582
Name: Place, dtype: int64

In [14]:
data.loc[:,'Place'].value_counts().max()

2633

In [17]:
data[data['Place']==data.loc[:,'Place'].mode().item()]['Place'].count()

2633

### 5.5 Hàm min(), max(), mean(), std(), median()

**Chỉ nên dùng cho biến định lượng**  
<font color='red' size="5" >**df.min()**</font>  
**Cho biết giá trị nào nhỏ nhất**  
**Ví dụ 1: Giá trị nào nhỏ nhất trong cột 'Price'**  

<font color='red' size="5" >**df.max()**</font> 
**Cho biết giá trị nào lớn nhất**  
**Ví dụ 1: Giá trị nào lớn nhất trong cột 'Price'**  

<font color='red' size="5" >**df.mean()**</font> 
**Cho biết giá trị trung bình**  
**Ví dụ 1: Giá trị trung bình của cột 'Price'**  

<font color='red' size="5" >**df.std()**</font> 
**Cho biết độ lệch chuẩn**  
**Ví dụ 1: Độ lệch chuẩn của cột 'Price'**  

<font color='red' size="5" >**df.median()**</font> 
**Cho biết giá trị trung vị**  
**Ví dụ 1: Giá trị trung vị của cột 'Price'**

In [20]:
data.loc[:,'Price'].min()

0.2539

In [21]:
data.loc[:,'Price'].max()

159.4458

In [22]:
data.loc[:,'Price'].mean()

15.738708576073778

In [23]:
data.loc[:,'Price'].std()

22.418283552602354

In [24]:
data.loc[:,'Price'].median()

5.9096

### 5.6 Hàm quantile()

**Chỉ nên dùng cho biến định lượng**  
<font color='red' size="5" >**df.quantile(x, axis, interpolation)**</font>  
**Tính phân vị**  
**x là số, 0 <= x <= 1**  
**interpolation = 'linear', 'lower', 'higher', 'midpoint', 'nearest'**  
**Ví dụ 1: Tính Q2 tại cột 'Price'**  
**Ví dụ 2: Tính Q1 tại cột 'Price'**  
**Ví dụ 3: Tính Q3 tại cột 'Price'**

In [32]:
data.loc[:,'Price'].quantile(0.5, 'linear') # x=0.5 tương đương Q2, tương đương median()

5.9096

In [35]:
data.loc[:,'Price'].quantile(0.5, 'midpoint') # x=0.25 tương đương Q1, tương đương 25%

5.9096

In [31]:
data.loc[:,'Price'].quantile(0.75) # x=0.75 tương đương Q3, tương đương 75%

20.4419

## 6. Hợp nhất dữ liệu

### 6.1 Hàm concat()

<font color='red' size="5" >**pandas.concat([data1, data2,...], axis, join)**</font>  
**data1, data2, ... là các bảng cần gộp**  
**axis = 1 -> ghép dọc (thêm cột), axis = 0 -> ghép trên dưới (thêm hàng)**  
**join = 'outer' ->  lấy toàn bộ và lặp thì chỉ giữ 1, join = 'inner' -> chỉ lấy những cái lặp**

In [36]:
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [37]:
data1 = data.loc[:,:'UmId']
data2 = data.loc[:,'UmName':]
display(data1, data2)

                 Place  ProductId              ProductName  UmId
0     National Average         52            Rice - Retail     5
1     National Average         52            Rice - Retail     5
2     National Average         52            Rice - Retail     5
3     National Average         52            Rice - Retail     5
4     National Average         52            Rice - Retail     5
...                ...        ...                      ...   ...
7376             Izmir        502  Cocoa (powder) - Retail     5
7377             Izmir        502  Cocoa (powder) - Retail     5
7378             Izmir        502  Cocoa (powder) - Retail     5
7379             Izmir        502  Cocoa (powder) - Retail     5
7380             Izmir        502  Cocoa (powder) - Retail     5

[7381 rows x 4 columns]

     UmName  Month  Year    Price
0        KG      5  2013   4.4920
1        KG      6  2013   4.5786
2        KG     11  2013   4.7865
3        KG     12  2013   5.1337
4        KG      1  2014   5.5099
...     ...    ...   ...      ...
7376     KG      8  2019  47.9040
7377     KG      9  2019  49.1176
7378     KG     10  2019  50.8347
7379     KG     11  2019  51.7985
7380     KG     12  2019  51.6071

[7381 rows x 4 columns]

In [38]:
data121 = pd.concat([data1, data2], axis=0, join='outer')
display(data121)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52.0,Rice - Retail,5.0,NaN,NaN,NaN,NaN
1,National Average,52.0,Rice - Retail,5.0,NaN,NaN,NaN,NaN
2,National Average,52.0,Rice - Retail,5.0,NaN,NaN,NaN,NaN
3,National Average,52.0,Rice - Retail,5.0,NaN,NaN,NaN,NaN
4,National Average,52.0,Rice - Retail,5.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
7376,NaN,NaN,NaN,NaN,KG,8.0,2019.0,47.9040
7377,NaN,NaN,NaN,NaN,KG,9.0,2019.0,49.1176
7378,NaN,NaN,NaN,NaN,KG,10.0,2019.0,50.8347
7379,NaN,NaN,NaN,NaN,KG,11.0,2019.0,51.7985
7380,NaN,NaN,NaN,NaN,KG,12.0,2019.0,51.6071

In [39]:
data122 = pd.concat([data1, data2], axis=0, join='inner')
display(data122)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[14762 rows x 0 columns]

In [40]:
data123 = pd.concat([data1, data2], axis=1, join='outer')
display(data123)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [41]:
data124 = pd.concat([data1, data2], axis=1, join='inner')
display(data124)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [42]:
data3 = data.loc[:5, :]
data4 = data.loc[6:, :]
display(data3, data4)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
5,National Average,52,Rice - Retail,5,KG,2,2014,5.8146

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
6,National Average,52,Rice - Retail,5,KG,3,2014,6.0014
7,National Average,52,Rice - Retail,5,KG,5,2014,6.3202
8,National Average,52,Rice - Retail,5,KG,6,2014,6.6019
9,National Average,52,Rice - Retail,5,KG,7,2014,6.6503
10,National Average,52,Rice - Retail,5,KG,8,2014,6.6806
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [43]:
data341 = pd.concat([data3, data4], axis=0, join='outer')
display(data341.head(10))
# data341.shape

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
5,National Average,52,Rice - Retail,5,KG,2,2014,5.8146
6,National Average,52,Rice - Retail,5,KG,3,2014,6.0014
7,National Average,52,Rice - Retail,5,KG,5,2014,6.3202
8,National Average,52,Rice - Retail,5,KG,6,2014,6.6019
9,National Average,52,Rice - Retail,5,KG,7,2014,6.6503

In [44]:
data342 = pd.concat([data3, data4], axis=0, join='inner')
display(data342.head(10))
# data342.shape

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
5,National Average,52,Rice - Retail,5,KG,2,2014,5.8146
6,National Average,52,Rice - Retail,5,KG,3,2014,6.0014
7,National Average,52,Rice - Retail,5,KG,5,2014,6.3202
8,National Average,52,Rice - Retail,5,KG,6,2014,6.6019
9,National Average,52,Rice - Retail,5,KG,7,2014,6.6503

In [45]:
data343 = pd.concat([data3, data4], axis=1, join='outer')
display(data343.head(10))
# data343.shape

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52.0,Rice - Retail,5.0,KG,5.0,2013.0,4.4920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,National Average,52.0,Rice - Retail,5.0,KG,6.0,2013.0,4.5786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,National Average,52.0,Rice - Retail,5.0,KG,11.0,2013.0,4.7865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,National Average,52.0,Rice - Retail,5.0,KG,12.0,2013.0,5.1337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,National Average,52.0,Rice - Retail,5.0,KG,1.0,2014.0,5.5099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,National Average,52.0,Rice - Retail,5.0,KG,2.0,2014.0,5.8146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,National Average,52.0,Rice - Retail,5.0,KG,3.0,2014.0,6.0014
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,National Average,52.0,Rice - Retail,5.0,KG,5.0,2014.0,6.3202
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,National Average,52.0,Rice - Retail,5.0,KG,6.0,2014.0,6.6019
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,National Average,52.0,Rice - Retail,5.0,KG,7.0,2014.0,6.6503

In [46]:
data344 = pd.concat([data3, data4], axis=1, join='inner')
display(data344.head(10))
# data344.shape

Empty DataFrame
Columns: [Place, ProductId, ProductName, UmId, UmName, Month, Year, Price, Place, ProductId, ProductName, UmId, UmName, Month, Year, Price]
Index: []

### 6.1 Ghép theo cột - Hàm merge()

<font color='red' size="5" >**data1.merge(data2, on='Cột chung')**</font>  
**data1, data2 là 2 các bảng cần gộp. Chỉ merge dc 2 bảng** 
**'Cột chung' là các cột sẽ được giữ 1 bản duy nhất**

In [ ]:
data1 = data.loc[:,:'UmId']
data2 = data.loc[:,'UmId':]
display(data1, data2)

In [ ]:
data125 = pd.merge(data3, data4, how='outer')
data125.head(10)

In [ ]:
data127 = data1.merge(data2, left_index=True, right_index=True)
data127

In [ ]:
data127['UmId_x'].value_counts()

In [ ]:
data126 = data1.join(data2, on='UmId', lsuffix = '_left', rsuffix = '_right', how='left')
data126

## 7. Pivot table

**Pivot table là một bảng tổng hợp dữ liệu, là công cụ hữu ích để tổng hợp, lọc và phân tích dữ liệu một cách dễ dàng, nhanh chóng.**
<font color='red' size="5" >**df.pivot_table(values=’a’, index=’b’, columns=’c’, aggfunc=‘hàm’)**</font>  
- **Kết quả tạo ra một bảng trong đó các giá trị của thuộc tính b nằm trên các hàng, các giá trị của thuộc tính c nằm trên các cột và các ô giao nhau là các giá trị của a được tính theo các hàm trong aggfunc (các ô nhận giá trị NaN nếu dữ liệu bị thiếu).** 
- **Aggfunc có thể chứa các hàm: mean, sum, max, min** 
**Ví dụ 1: Tính trung bình cộng giá của từng mặt hàng theo năm**

In [47]:
data.pivot_table(values='Price',index='ProductName',columns='Year',aggfunc ='mean')

Year,2013,2014,2015,2016,2017,2018,2019
ProductName,,,,,,,
Apples (red) - Retail,2.080950,2.410118,2.401417,2.428333,2.560000,NaN,NaN
Apples - Retail,NaN,NaN,NaN,NaN,3.334175,3.923417,4.259810
Bananas - Retail,4.002225,4.962827,5.368833,5.914167,7.313738,8.701475,10.879371
Beans (white) - Retail,6.932800,9.484309,7.288333,6.949167,9.217700,9.242844,11.658690
Bread (common) - Retail,2.853000,3.069491,2.982917,3.373333,4.178841,4.740619,5.513271
Bread (pita) - Retail,NaN,NaN,2.311429,2.440000,2.480000,NaN,NaN
Bulgur - Retail,2.405025,2.593791,2.680500,2.765833,3.293874,3.546027,4.369369
Cabbage - Retail,1.104800,1.073233,1.197000,1.375714,1.589495,1.751664,2.232738
Cauliflower - Retail,2.046950,2.129317,2.772800,2.655714,2.878481,3.237750,4.326537
Cheese - Retail,NaN,NaN,15.421429,15.490833,24.425554,27.905196,28.013267
Chickpeas - Retail,5.918450,5.815827,5.665250,7.765000,13.577754,12.243981,9.051525
Cocoa (powder) - Retail,37.795150,38.134264,36.657917,36.696667,43.299851,45.214012,48.160994
Coffee (instant) - Retail,39.954750,36.359891,29.626917,35.796667,45.395493,50.388579,42.705810
Coffee - Retail,30.890625,31.261200,34.499917,36.154167,42.082349,44.706650,47.646450
Cucumbers (greenhouse) - Retail,1.737400,1.936482,1.977083,2.298333,4.376667,NaN,NaN
Cucumbers - Retail,NaN,NaN,NaN,NaN,2.902958,3.180702,4.023225
Eggplants - Retail,NaN,NaN,1.917143,2.550000,3.543931,3.641333,5.018958
Eggs - Retail,0.310175,0.350036,0.352250,0.361667,0.480056,0.609846,0.549542
Electricity - Retail,NaN,NaN,NaN,NaN,0.411850,0.502633,0.600825
Fish (fresh) - Retail,13.461625,14.228209,14.089750,15.066667,20.882454,24.301085,29.341567
Fuel (gas) - Retail,NaN,NaN,63.548571,64.800000,77.366069,88.545933,92.551890
Fuel (petrol-gasoline) - Retail,NaN,NaN,4.590000,4.535000,5.291772,6.253287,15.211690
Garlic - Retail,8.143075,8.758027,10.943750,14.851667,14.835772,13.024994,25.999040
Groundnuts (shelled) - Retail,12.605350,12.779155,17.512000,17.527500,19.470874,21.036458,29.546023
Lentils - Retail,3.452275,4.467318,5.786250,6.957500,7.807254,6.684435,6.587621
Meat (chicken) - Retail,6.677175,7.224882,7.024250,7.434167,8.890931,9.954510,12.097452
Meat (mutton) - Retail,25.609925,26.065691,27.004750,31.058333,43.883523,51.335848,55.530354
Meat (veal) - Retail,25.021700,27.711155,33.118250,37.070833,41.791177,43.621363,46.047448
Milk (pasteurized) - Retail,2.379750,2.643636,2.817833,2.907500,3.168628,4.080617,4.448258
"Milk (powder, infant formula) - Retail",NaN,NaN,63.757143,70.695833,85.364697,123.919679,127.172654
Oil (olive) - Retail,10.615950,12.710382,21.570500,27.822500,29.237797,30.880817,28.087996
Oil (sunflower) - Retail,6.082575,6.159518,8.214250,7.721667,8.173803,9.042829,10.151044
Onions - Retail,1.064950,1.088882,1.375250,1.481667,1.276641,2.564400,3.108898
Oranges - Retail,3.792200,1.630714,1.712429,1.621250,2.852100,2.982422,4.339036
Pasta - Retail,2.370975,2.687491,2.944917,2.995833,3.160313,3.494312,4.314592
"Peas (green, dry) - Retail",2.385100,3.015000,3.166667,NaN,NaN,NaN,NaN
Potatoes - Retail,NaN,NaN,1.538571,1.094167,1.636687,2.442390,3.100167
Rice - Retail,4.747700,6.367855,6.426833,6.047500,7.164792,8.640444,9.384565
Salt - Retail,1.434225,1.462836,1.516083,1.666667,1.998374,2.232254,2.318398
Spinach - Retail,NaN,NaN,2.660000,2.292857,2.642886,2.802390,4.477733
Sugar - Retail,3.554150,3.783709,3.852667,4.175833,4.277897,4.655442,4.949027
Tea (green) - Retail,3.590825,3.897700,4.084667,4.460000,4.660000,NaN,NaN
Tea (herbal) - Retail,NaN,NaN,NaN,NaN,5.016853,5.838017,5.345148
Tea - Retail,14.152900,16.543309,19.870750,22.537500,27.112123,28.601408,28.860771
Tomatoes (paste) - Retail,NaN,NaN,6.771429,6.479167,5.839510,7.688948,10.898944
Tomatoes - Retail,1.833025,1.936864,1.927667,1.914167,3.012379,3.897779,4.399598
Transport (public) - Retail,NaN,NaN,NaN,NaN,2.569043,2.425712,2.436694
"Wage (non-qualified labour, non-agricultural) - Retail",NaN,NaN,33.100000,43.330000,46.800000,NaN,NaN
Water - Retail,NaN,NaN,NaN,NaN,5.052814,5.826585,5.190500
Wheat flour - Retail,2.255350,2.565082,2.672583,2.848333,3.132718,3.405498,3.685917
Yogurt - Retail,NaN,NaN,3.984286,3.935833,4.783010,5.804490,5.956696
Zucchini - Retail,NaN,NaN,NaN,NaN,3.477094,3.656315,4.288779

**Ví dụ 2: Tìm giá lớn nhất theo từng năm**

In [48]:
data.pivot_table(values='Price', columns='Year',aggfunc ='max')

Year      2013     2014   2015   2016     2017      2018     2019
Price  40.1146  39.7204  65.54  76.96  93.9628  159.4458  150.038

**Ví dụ 3: Tìm giá lớn nhất của từng mặt hàng**  
<font color='red' size="5" >**df.pivot_table(values=’a’, index=’b’, columns=’c’, aggfunc=‘hàm’)**</font>

In [52]:
data5 = data.pivot_table(values='Price', index='ProductName',aggfunc ='max')
display(data5)
data5.info()

                                                       Price
ProductName
Apples (red) - Retail                                 2.9800
Apples - Retail                                       6.0925
Bananas - Retail                                     12.9400
Beans (white) - Retail                               13.0975
Bread (common) - Retail                               6.1942
Bread (pita) - Retail                                 2.5600
Bulgur - Retail                                       5.2611
Cabbage - Retail                                      3.2543
Cauliflower - Retail                                  5.9113
Cheese - Retail                                      35.5297
Chickpeas - Retail                                   15.5274
Cocoa (powder) - Retail                              54.8237
Coffee (instant) - Retail                            61.3502
Coffee - Retail                                      54.9968
Cucumbers (greenhouse) - Retail                       4.5700
Cucumbers - Retail                                    7.1657
Eggplants - Retail                                   11.1584
Eggs - Retail                                         0.8300
Electricity - Retail                                  0.7102
Fish (fresh) - Retail                                37.7223
Fuel (gas) - Retail                                 112.4568
Fuel (petrol-gasoline) - Retail                     111.2686
Garlic - Retail                                      41.7712
Groundnuts (shelled) - Retail                        36.0327
Lentils - Retail                                      8.6060
Meat (chicken) - Retail                              15.6383
Meat (mutton) - Retail                               59.3223
Meat (veal) - Retail                                 49.7239
Milk (pasteurized) - Retail                           5.3813
Milk (powder, infant formula) - Retail              159.4458
Oil (olive) - Retail                                 34.7226
Oil (sunflower) - Retail                             22.7400
Onions - Retail                                       6.5986
Oranges - Retail                                      7.0085
Pasta - Retail                                        5.0748
Peas (green, dry) - Retail                            3.5312
Potatoes - Retail                                     5.5475
Rice - Retail                                        10.4043
Salt - Retail                                         2.9118
Spinach - Retail                                      6.7115
Sugar - Retail                                        5.5038
Tea (green) - Retail                                  4.7200
Tea (herbal) - Retail                                 6.9347
Tea - Retail                                         35.4751
Tomatoes (paste) - Retail                            12.4038
Tomatoes - Retail                                     7.3245
Transport (public) - Retail                           3.6964
Wage (non-qualified labour, non-agricultural) -...   46.8000
Water - Retail                                        7.4418
Wheat flour - Retail                                  4.5670
Yogurt - Retail                                       7.4009
Zucchini - Retail                                     7.3851

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, Apples (red) - Retail to Zucchini - Retail
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   52 non-null     float64
dtypes: float64(1)
memory usage: 832.0+ bytes

In [53]:
data6 = data.pivot_table(values='Price', index='ProductId',aggfunc ='max')
display(data6)
data6.info()

              Price
ProductId
52          10.4043
58           4.5670
66          13.0975
83           5.5475
92           0.8300
94          15.6383
97           5.5038
105         41.7712
108          8.6060
112          5.0748
114          7.3245
119         36.0327
124          6.1942
151         54.9968
173          6.5986
176          4.7200
181          3.2543
183         59.3223
184         22.7400
185          2.9118
209         61.3502
212          3.5312
229          2.9800
231          5.9113
233          4.5700
239         34.7226
244         15.5274
254         12.9400
258          5.2611
281         35.4751
285        111.2686
304          3.6964
317         12.4038
341        112.4568
345          6.0925
360          7.0085
364          7.4009
384          2.5600
388          7.1657
401         37.7223
404          6.7115
414         35.5297
433         49.7239
434         11.1584
442        159.4458
450          7.3851
463          5.3813
465         46.8000
491          0.7102
492          6.9347
493          7.4418
502         54.8237

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 52 to 502
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   52 non-null     float64
dtypes: float64(1)
memory usage: 832.0 bytes

**Ví dụ 6: Tính tổng giá và trung bình cộng số tháng bán hàng của từng mặt hàng theo địa điểm**  
<font color='red' size="5" >**df.pivot_table(values=’a’, index=’b’, columns=’c’, aggfunc=‘hàm’)**</font>

In [55]:
data.pivot_table(values=['Price','Month'], index='ProductName', columns='Place', aggfunc ={'Price': np.sum,'Month': np.mean})

                                                       Month            \
Place                                                 Ankara  Istanbul
ProductName
Apples (red) - Retail                                    NaN       NaN
Apples - Retail                                     6.500000  6.500000
Bananas - Retail                                    6.500000  6.500000
Beans (white) - Retail                              6.500000  6.500000
Bread (common) - Retail                             6.500000  6.500000
Bread (pita) - Retail                                    NaN       NaN
Bulgur - Retail                                     6.500000  6.500000
Cabbage - Retail                                    6.421053  6.421053
Cauliflower - Retail                                6.294118  6.294118
Cheese - Retail                                     6.500000  6.500000
Chickpeas - Retail                                  6.500000  6.500000
Cocoa (powder) - Retail                             6.500000  6.500000
Coffee (instant) - Retail                           7.071429  7.071429
Coffee - Retail                                     6.500000  6.500000
Cucumbers (greenhouse) - Retail                          NaN       NaN
Cucumbers - Retail                                  6.500000  6.500000
Eggplants - Retail                                  6.500000  6.500000
Eggs - Retail                                       6.500000  6.500000
Electricity - Retail                                6.500000  6.500000
Fish (fresh) - Retail                               6.500000  6.500000
Fuel (gas) - Retail                                 6.500000  6.500000
Fuel (petrol-gasoline) - Retail                     6.500000  6.500000
Garlic - Retail                                     6.500000  6.500000
Groundnuts (shelled) - Retail                       6.500000  6.500000
Lentils - Retail                                    6.500000  6.500000
Meat (chicken) - Retail                             6.500000  6.500000
Meat (mutton) - Retail                              6.500000  6.500000
Meat (veal) - Retail                                6.500000  6.500000
Milk (pasteurized) - Retail                         6.500000  6.500000
Milk (powder, infant formula) - Retail              6.500000  6.500000
Oil (olive) - Retail                                6.500000  6.500000
Oil (sunflower) - Retail                            6.500000  6.500000
Onions - Retail                                     6.500000  6.500000
Oranges - Retail                                    5.846154  5.846154
Pasta - Retail                                      6.500000  6.500000
Peas (green, dry) - Retail                               NaN       NaN
Potatoes - Retail                                   6.500000  6.500000
Rice - Retail                                       6.500000  6.500000
Salt - Retail                                       6.500000  6.500000
Spinach - Retail                                    6.294118  6.294118
Sugar - Retail                                      6.500000  6.500000
Tea (green) - Retail                                     NaN       NaN
Tea (herbal) - Retail                               6.500000  6.500000
Tea - Retail                                        6.500000  6.500000
Tomatoes (paste) - Retail                           6.500000  6.500000
Tomatoes - Retail                                   6.500000  6.500000
Transport (public) - Retail                         6.428571  6.500000
Wage (non-qualified labour, non-agricultural) -...       NaN       NaN
Water - Retail                                      6.500000  6.500000
Wheat flour - Retail                                6.500000  6.500000
Yogurt - Retail                                     6.500000  6.500000
Zucchini - Retail                                   6.500000  6.500000

                                                                               \
Place                                                  Izmir National Average
ProductName
Apples (red) - Retail                                    NaN         6.428571
Apples - Retail                                     6.500000         6.500000
Bananas - Retail                                    6.500000         6.454545
Beans (white) - Retail                              6.500000         6.454545
Bread (common) - Retail                             6.500000         6.454545
Bread (pita) - Retail                                    NaN         6.681818
Bulgur - Retail                                     6.500000         6.454545
Cabbage - Retail                                    6.421053         6.194444
Cauliflower - Retail                                6.294118         6.117647
Cheese - Retail                                     6.500000         6.586957
Chickpeas - Retail                                  6.500000         6.454545
Cocoa (powder) - Retail                             6.500000         6.454545
Coffee (instant) - Retail                           7.071429         6.454545
Coffee - Retail                                     6.500000         6.454545
Cucumbers (greenhouse) - Retail                          NaN         6.428571
Cucumbers - Retail                                  6.500000         6.500000
Eggplants - Retail                                  6.500000         6.586957
Eggs - Retail                                       6.500000         6.454545
Electricity - Retail                                6.500000         6.500000
Fish (fresh) - Retail                               6.500000         6.454545
Fuel (gas) - Retail                                 6.500000         6.586957
Fuel (petrol-gasoline) - Retail                     6.500000         6.586957
Garlic - Retail                                     6.500000         6.454545
Groundnuts (shelled) - Retail                       6.500000         6.454545
Lentils - Retail                                    6.500000         6.454545
Meat (chicken) - Retail                             6.500000         6.454545
Meat (mutton) - Retail                              6.500000         6.454545
Meat (veal) - Retail                                6.500000         6.454545
Milk (pasteurized) - Retail                         6.500000         6.454545
Milk (powder, infant formula) - Retail              6.500000         6.586957
Oil (olive) - Retail                                6.500000         6.454545
Oil (sunflower) - Retail                            6.500000         6.454545
Onions - Retail                                     6.500000         6.454545
Oranges - Retail                                    5.846154         5.840909
Pasta - Retail                                      6.500000         6.454545
Peas (green, dry) - Retail                               NaN         5.285714
Potatoes - Retail                                   6.500000         6.586957
Rice - Retail                                       6.500000         6.454545
Salt - Retail                                       6.500000         6.454545
Spinach - Retail                                    6.294118         6.250000
Sugar - Retail                                      6.500000         6.454545
Tea (green) - Retail                                     NaN         6.428571
Tea (herbal) - Retail                               6.500000         6.500000
Tea - Retail                                        6.500000         6.454545
Tomatoes (paste) - Retail                           6.500000         6.586957
Tomatoes - Retail                                   6.500000         6.454545
Transport (public) - Retail                         6.500000         6.500000
Wage (non-qualified labour, non-agricultural) -...       NaN         6.681818
Water - Retail                                      6.500000         6.500000
Wheat flour - Retail                                6.500000         6.454545
Yogurt - Retail                                     6.500000         6.586957
Zucchini - Retail                                   6.500000         6.500000

                                                        Price             \
Place                                                  Ankara   Istanbul
ProductName
Apples (red) - Retail                                     NaN        NaN
Apples - Retail                                      133.6730   147.7027
Bananas - Retail                                     304.7437   327.6029
Beans (white) - Retail                               332.6128   383.5499
Bread (common) - Retail                              167.4157   184.6184
Bread (pita) - Retail                                     NaN        NaN
Bulgur - Retail                                      129.5859   143.0773
Cabbage - Retail                                      31.8945    38.3249
Cauliflower - Retail                                  56.4567    69.1003
Cheese - Retail                                      961.9613   980.0739
Chickpeas - Retail                                   378.5647   438.2447
Cocoa (powder) - Retail                             1613.8489  1700.9064
Coffee (instant) - Retail                           1045.5429  1424.2491
Coffee - Retail                                     1573.6823  1604.3165
Cucumbers (greenhouse) - Retail                           NaN        NaN
Cucumbers - Retail                                   117.3324   128.5635
Eggplants - Retail                                   136.3472   153.3957
Eggs - Retail                                         18.0299    20.8500
Electricity - Retail                                  18.1837    18.1837
Fish (fresh) - Retail                                887.1821  1035.5012
Fuel (gas) - Retail                                 3055.7316  3200.5098
Fuel (petrol-gasoline) - Retail                      319.4124   322.7623
Garlic - Retail                                      548.1320   716.8176
Groundnuts (shelled) - Retail                        796.0976   898.2896
Lentils - Retail                                     243.2624   262.8975
Meat (chicken) - Retail                              352.9688   385.8055
Meat (mutton) - Retail                              1785.0146  1909.8477
Meat (veal) - Retail                                1522.3885  1609.5090
Milk (pasteurized) - Retail                          138.4768   143.5290
Milk (powder, infant formula) - Retail              3867.4508  4009.7087
Oil (olive) - Retail                                1044.9484  1072.4479
Oil (sunflower) - Retail                             323.0173   344.1325
Onions - Retail                                       73.7092    88.4918
Oranges - Retail                                      87.4031    97.6397
Pasta - Retail                                       130.8555   134.9679
Peas (green, dry) - Retail                                NaN        NaN
Potatoes - Retail                                     81.1773    90.8639
Rice - Retail                                        280.8815   316.1799
Salt - Retail                                         74.0132    84.0101
Spinach - Retail                                      50.7829    62.5746
Sugar - Retail                                       160.7533   173.0889
Tea (green) - Retail                                      NaN        NaN
Tea (herbal) - Retail                                183.6941   198.3318
Tea - Retail                                         950.0084  1027.7726
Tomatoes (paste) - Retail                            277.9238   291.0017
Tomatoes - Retail                                    134.0984   143.4385
Transport (public) - Retail                           85.7563    72.3179
Wage (non-qualified labour, non-agricultural) -...        NaN        NaN
Water - Retail                                       212.7846   204.3195
Wheat flour - Retail                                 107.5198   131.2668
Yogurt - Retail                                      190.2318   203.0441
Zucchini - Retail                                    128.4446   152.0505


Place                                                   Izmir National Average
ProductName
Apples (red) - Retail                                     NaN         100.4721
Apples - Retail                                      137.8665          93.5830
Bananas - Retail                                     342.8845         455.8813
Beans (white) - Retail                               379.3065         570.2033
Bread (common) - Retail                              171.5711         253.0077
Bread (pita) - Retail                                     NaN          52.9000
Bulgur - Retail                                      135.1067         204.1380
Cabbage - Retail                                      36.6622          53.3941
Cauliflower - Retail                                  54.5321          98.2747
Cheese - Retail                                     1035.2488         953.2388
Chickpeas - Retail                                   458.0320         525.6862
Cocoa (powder) - Retail                             1637.9016        2668.9501
Coffee (instant) - Retail                           1559.8856        2464.6463
Coffee - Retail                                     1682.7990        2528.6473
Cucumbers (greenhouse) - Retail                           NaN          92.6859
Cucumbers - Retail                                   118.9467          85.4524
Eggplants - Retail                                   145.5896         162.5948
Eggs - Retail                                         21.2919          27.8591
Electricity - Retail                                  18.1837          13.2415
Fish (fresh) - Retail                                789.4628        1237.3507
Fuel (gas) - Retail                                 3068.0847        3608.0861
Fuel (petrol-gasoline) - Retail                      321.2965         359.7768
Garlic - Retail                                      693.2822         931.9725
Groundnuts (shelled) - Retail                        852.7035        1251.6986
Lentils - Retail                                     263.5486         387.7077
Meat (chicken) - Retail                              379.5504         566.5992
Meat (mutton) - Retail                              1851.8339        2380.2582
Meat (veal) - Retail                                1621.6671        2427.5727
Milk (pasteurized) - Retail                          141.4499         216.8098
Milk (powder, infant formula) - Retail              4306.6330        4492.5127
Oil (olive) - Retail                                1063.7668        1564.6080
Oil (sunflower) - Retail                             317.7816         538.4688
Onions - Retail                                       88.3118         122.1150
Oranges - Retail                                      87.0786         109.0408
Pasta - Retail                                       131.5066         211.0849
Peas (green, dry) - Retail                                NaN          20.3002
Potatoes - Retail                                     87.7596          93.9727
Rice - Retail                                        318.6902         467.6049
Salt - Retail                                         81.3386         117.0271
Spinach - Retail                                      56.8981          72.7884
Sugar - Retail                                       165.4068         280.7829
Tea (green) - Retail                                      NaN         173.7540
Tea (herbal) - Retail                                199.5347         135.8380
Tea - Retail                                        1093.0043        1492.2591
Tomatoes (paste) - Retail                            307.5030         368.6812
Tomatoes - Retail                                    134.9070         178.0526
Transport (public) - Retail                          110.4762          54.7616
Wage (non-qualified labour, non-agricultural) -...        NaN         892.0600
Water - Retail                                       180.0569         113.5604
Wheat flour - Retail                                 130.8998         196.3658
Yogurt - Retail                                      209.4428         223.4756
Zucchini - Retail                                    133.6774          92.3674